@import url("https://fonts.googleapis.com/css?family=Lemon|Oswald:500");

body {
  font-family: "Oswald" , sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.25px;
  background: url("dust_scratches.png");
}

#wrapper {
  max-width: 850px;
  margin: 0 auto;
  background: rgb(255, 255, 255, 0.5);
  border: 1px solid #999;
  padding: 20px;
}

a {
  color: rgb(234,139,245);
}

a:visited {
  color: rgb(86,95,228);
}

a:hover {
  /*color: rgb(218,252,0);*/
  color: rgb(202,223,65);
}

a:active {
  color: rgb(89,14,127)
}

h1,
h2,
h3 {
  font-family:'Lemon', cursive;
  color: rgb(162,22,172);
}

h1 {
  font-size: 68px;
  text-align: center;
  margin: 0;
}

h2 {
  letter-spacing: 1.5px;
}

h3 {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#bio .grid {
  margin-top: 20px;
  border-top: 1px solid #999;
  padding-top: 20px;
}

#resume .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 0;
  grid-column-gap: 20px;
}

/* #resume grid ids */

#objective {
  order: 1;
}

#experience {
  order: 2;
  grid-column: 2;
  grid-row: 1 / span 2;
}

#skills {
  order: 3;
  grid-row: 2;
}

#education {
  grid-column: 2;
  grid-row: 3 / span 2;
  order: 4;
}

#awards {
  order: 5;
}

#image {
  order: 6;
}

/* end #resume grid ids */

#fashion .grid {
  grid-template-columns: 1fr 240px 1fr;
}

img {
  border: 1px solid #999;
}

img.health {
  float: left;
  margin-right: 20px;
}
